[Desktop Entry]
Encoding=UTF-8
Comment=SHA-512 Digest
Type=MimeType
MimeType=text/digest-sha512
Patterns=*.sha512;
Icon=JSummer.xpm
X-KDE-AutoEmbed=false                                                           
[Property::X-KDE-NativeExtension]                                               
Type=QString                                                                    
Value=.sha512
