[Desktop Entry]
Encoding=UTF-8
Comment=SHA-256 Digest
Type=MimeType
MimeType=text/digest-sha256
Patterns=*.sha256;
Icon=JSummer.xpm
X-KDE-AutoEmbed=false                                                           
[Property::X-KDE-NativeExtension]                                               
Type=QString                                                                    
Value=.sha256
