[Desktop Entry]
Encoding=UTF-8
Comment=MD5 Digest
Type=MimeType
MimeType=text/digest-md5
Patterns=*.md5;
Icon=JSummer.xpm
X-KDE-AutoEmbed=false                                                           
[Property::X-KDE-NativeExtension]                                               
Type=QString                                                                    
Value=.md5
